@import '../../styles/settings.scss';

.cardForm {
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.titleInput {
    padding: 10px;
}

.titleName {
    border-style: bold;
    border: 3px;
    text-decoration: none;
}
