@import '../../styles/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    border-style: solid;
    border: 3px;
    padding: 5px;
    list-style: none;
    margin: auto;
}

.btn {
    color: $color-dark;
    cursor: pointer;
    border: none;
    background-color: inherit;
    font-size: 20px;
}

.isFavorite {
    color: $color-warning;
}