@import '../../styles/settings.scss';

.listForm {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.titleDescriptionInput {
    padding: 10px;
}